@font-face {
	font-family: "EuropeExtendedC-Bold";
	src: url("../fonts/EuropeExtendedC-Bold/EuropeExtendedC-Bold.eot");
	src: url("../fonts/EuropeExtendedC-Bold/EuropeExtendedC-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/EuropeExtendedC-Bold/EuropeExtendedC-Bold.woff") format("woff"),
		url("../fonts/EuropeExtendedC-Bold/EuropeExtendedC-Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Din Pro";
	src: url("../fonts/Din Pro/Din Pro.eot");
	src: url("../fonts/Din Pro/Din Pro.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Din Pro/Din Pro.woff") format("woff"), url("../fonts/Din Pro/Din Pro.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Din Pro";
	src: url("../fonts/Din Pro Bold/Din Pro Bold.eot");
	src: url("../fonts/Din Pro Bold/Din Pro Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Din Pro Bold/Din Pro Bold.woff") format("woff"),
		url("../fonts/Din Pro Bold/Din Pro Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
